In [1]:
import pandas as pd

# Filename for HDF5 create by bag2hdf5

Use the "pandas" one, which is an HDF Store file.

In [3]:
filename = 'drone_flight_demo_20260130_pandas.hdf5'

# Load repackaged data with pandas

In [4]:
with pd.HDFStore(filename, 'r') as store:
    keys = store.keys()
    print(keys)

['/trisonica', '/trisonica_body_level', '/trisonica_global', '/mavros/rc/in_', '/mavros/local_position/pose', '/mavros/imu/data']

In [6]:
# Load data from a specific key
df = pd.read_hdf(filename, keys[0])

In [7]:
df

,header_seq,header_stamp_secs,header_stamp_nsecs,header_frame_id,header_stamp,speed,speed2d,direction,northsouth,westeast,...,roll,pressure,humidity,heading,levelx,levely,levelz,t_secs,t_nsecs,t
0,3039,1746653171,186195850,,1.746653e+09,5.80,0.0,359.0,0.09,-5.80,...,2.0,862.219971,31.780001,37.0,NaN,0.0,0.0,1769809652,419988231,1.769810e+09
1,3040,1746653171,275958299,,1.746653e+09,6.25,0.0,1.0,-0.08,-5.80,...,2.0,862.219971,31.780001,37.0,NaN,0.0,0.0,1769809652,509738035,1.769810e+09
2,3041,1746653171,289057970,,1.746653e+09,6.25,0.0,1.0,-0.08,-5.80,...,1.2,862.219971,31.629999,36.0,NaN,0.0,0.0,1769809652,522670801,1.769810e+09
3,3042,1746653171,379084825,,1.746653e+09,6.08,0.0,3.0,-0.27,-6.07,...,1.2,862.219971,31.750000,36.0,NaN,0.0,0.0,1769809652,612940525,1.769810e+09
4,3043,1746653171,384888648,,1.746653e+09,6.08,0.0,3.0,-0.27,-6.07,...,0.0,862.229980,31.750000,34.0,NaN,0.0,0.0,1769809652,618592973,1.769810e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,3118,1746653175,982927322,,1.746653e+09,2.94,0.0,12.0,-0.60,-2.85,...,0.0,862.289978,31.559999,35.0,NaN,0.0,0.0,1769809657,216728697,1.769810e+09
80,3119,1746653176,86229801,,1.746653e+09,3.18,0.0,13.0,-0.69,-3.09,...,2.6,862.289978,31.400000,37.0,NaN,0.0,0.0,1769809657,319875827,1.769810e+09
81,3120,1746653176,186191797,,1.746653e+09,3.18,0.0,16.0,-0.79,-2.76,...,0.6,862.280029,31.200001,35.0,NaN,0.0,0.0,1769809657,419874407,1.769810e+09
82,3121,1746653176,275760889,,1.746653e+09,3.93,0.0,17.0,-1.13,-2.76,...,0.6,862.280029,31.200001,35.0,NaN,0.0,0.0,1769809657,509334812,1.769810e+09
83,3122,1746653176,288826704,,1.746653e+09,3.93,0.0,17.0,-1.13,-2.76,...,-0.3,862.309998,31.500000,33.0,NaN,0.0,0.0,1769809657,522470867,1.769810e+09